@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'Work_Sans';
    src: url("work_sans.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Work_Sans';
    src: url("work_sans.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Work_Sans';
    src: url("work_sans.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Work_Sans';
    src: url("work_sans.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
} 

body {
    background-image: url(imagesoptimized-image.jpg);
    background-size: cover;
    font-family: 'work_sans', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.flex-container3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f1dda6;
    vertical-align: middle;
}

.nav {
    flex-direction: column;
    margin-right: 40px;
}

.logo {
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 110px;
    height: auto;
    float: left;
    margin-left: 100px;
    margin-bottom: 15px;
}

.nav a {
    display: inline-block;
    vertical-align: middle;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    vertical-align: middle;
}


.nav a:hover {
    background: white;
} 

.nav ul {
    float: right;
    list-style: none;
}

.nav ul li {
    float: right;
    list-style: none;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
    margin-right: 55px;
    z-index: 100 !important;
}

.nav ul li a {
    display: block;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    color: black;
    font-size: 26px;
    text-decoration: none;
    line-height: 80px;
}

.nav ul li ul {
    display: none;
    position: relative;
}

.nav ul li:hover ul {
    display: block;
    position: absolute;
    background-color: whitesmoke;
    padding: 0px;
    border-radius: 0px 0px 9px 9px;
    margin-left: 0;
}

.nav ul li ul li {
    padding: 0px 0px;
}

.nav ul li ul li a {
    color: #6e3dd5;
    text-align: center;
    margin-left: 15%;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
}

.welcome {
    display: block;
    text-align: center;
    padding-top: 100px;
}

.wpj {
    font-size: 35px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    color: #6e3dd9;
    justify-content: center !important;
    text-align: center;
    vertical-align: middle;
    margin-left: 20px;
    margin-right: 20px;
}

.who {
    font-size: 18px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    color: black;
    justify-content: center !important;
    text-align: center;
    vertical-align: middle;
    margin-left: 510px;
    margin-right: 510px;
}

.slider_image {
    width: 100%;
    height: 100%;
    background-image: url(images/slideshow.gif);
    background-repeat: no-repeat;
}

.flex-container {
    display:flex;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    clear: both;
}

.flex-container>div {
    width: 50%;
    height: 50%;
    text-align: center;
    line-height: 20px;
}

.wowslider-container1 {
    display:flex;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    clear: both;
}

.filter {
    display: flex;
    padding-left: 350px;
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;
    font-weight: 600;
    z-index: 101;
    list-style: none;
    padding-top: 100px;
    margin-bottom: -16px;
    margin-left: -40px;
}

.filter ul li {
    list-style: none;
    position: relative;
    display: inline-block;
}

.filter ul li a {
    text-decoration: none;
    color: black;

}

.filter ul li ul {
    display: none;
    position: relative;
    margin-top: 0px;
    border-style: solid;
    border-width: 2px;
}

.filter ul li:hover ul {
    display: block;
    position: absolute;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;

}

.filter ul li ul li a:hover {
    background-color: #f1dda6;
}

.juice-filter {
    display: flex;
    clear: both;
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;
    
}

.juice-filter>div {
    padding-left: 1px;
    padding-right: 1px;
}

.juice-filter2 {
    display: flex;
    clear: both;
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
    margin-top: -2px;
}

.juice-filter2>div {
    padding-left: 1px;
    padding-right: 1px;
}

.flex-container1 {
    display: flex;
    clear: both;
    margin-left: 120px;
    margin-right: 110px;
    margin-top: 100px;
}

.flex-container1 > div {9
    margin-top: 50px;
    width: 100%;
    background-color: #6e3dd9;
}

h1 {
    font-size: 28px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    color: white;
    justify-content: center !important;
    text-align: center;
    vertical-align: middle;
    padding-top: 180px;
    margin-left: 20px;
    margin-right: 20px;
}

h7 {
    
}

.flex-container2 {
    display: flex;
    clear: both;
}

.flex-container2 a {
    text-decoration: none;
}

.flex-container2 > div {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 0px;
    padding-bottom: 50px;
    width: 100%;
    margin: 20px;
}

h2 {
    padding-left: 50px;
    color: black;
    font-size: 23px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
}

.pt1 {
    color: white;
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    background-color: #6e3dd9;
    margin-left: 50px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 38%;
    text-align: center;
}

.pt3 {
    margin-left: 50px;
    font-size: 18px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;   
    padding-top: 30px;
}

.pt5 {
    font-size: 18px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    margin-left: 50px;
}

.pt7 {
    margin-left: 50px;
    color: #6e3dd9;
    font-size: 23px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
}

h3 {
    margin-right: 40px;
    color: #6e3dd9;
    font-size: 23px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
}

.pt2 {
    margin-right: 40px;
    font-size: 18px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
}

.pt4 {
    font-size: 18px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
}

.pt6 {
    color: #6e3dd9;
    font-size: 23px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;   
    padding-top: 50px;   
}

.pt8 {
    margin-right: 40px;
    font-size: 18px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;  
}

.pt10 {
    font-size: 18px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;  
    color: #6e3dd9;
    padding-top: 20px;
    padding-left: 20px;
}

.pt12 {
    font-size: 18px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;  
    color: #6e3dd9;
    padding-left: 20px;
}

.pt14 {
    font-size: 18px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;  
    color: #6e3dd9;
    padding-left: 20px;
    padding-bottom: 20px;
}

.pt16 {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    background-color: #6e3dd9;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 12%;
    text-align: center;
}

.flex-container4 {
    display: flex;
    clear: both;
    text-align: center;
}


.flex-container4 > div {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    margin: 20px;
}

h5 {
    color: #6e3dd9;
    font-size: 23px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
}


.pt17 {
    font-size: 18px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    text-align: center;
}

.flex-container5 {
    display: flex;
    clear: both;
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;
}

.flex-container5 > div {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 1px;

}

.flex-container6 {
    display: flex;
    clear: both;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
}

.flex-container6 > div {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 1px;
}

h6 {
    color: #6e3dd9;
    font-size: 23px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
}


.flex-container7 {
    display: flex;
    clear: both;
}

.flex-container7 > div {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 0px;
    padding-bottom: 50px;
    width: 100%;
    margin: 20px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin-top: 8px;
    margin-bottom: 20px;
    margin-left: 30px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

label {
    font-size: 18px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    margin-left: 30px;
}

input[type=text], textarea {
    width: 100%;
    font-size: 14px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    padding: 12px 20px;
    margin-top: 8px;
    margin-bottom: 20px;
    margin-left: 30px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}
        
input[type=submit] {
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    background-color: #6e3dd9;
    color: white;
    padding: 14px 20px;
    margin-top: 20px;
    margin-left: 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
    
input[type=submit]:hover {
    background-color: #47278C;
}

iframe {
    margin-top: 30px;
    border-radius: 6px;
}

.flex-container8 {
    display: flex;
    justify-content: center;
    background-color: #4e2b99;
}

.nav1 {
    margin-top: 30px;
    margin-bottom: 30px;
    flex-direction: column;
}

.nav1 a {
    display: inline-block;
    vertical-align: middle;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
}

.nav1 a:hover {
    background-color: #6e3dd9;
}

.nav1 ul {
    list-style: none;
}

.nav1 ul li {
    list-style: none;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-left: 25px;
    margin-right: 25px;
}

.nav1 ul li a {
    display: block;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
}

hr.solid {
    border-top: 0px;
    color: #f1dda6;
}

.flex-container9 {
    display: flex;
    clear: both;
    background-color: #4e2b99;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.flex-container9 > div {
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 20px;
    text-decoration: none;
}

h12 {
    padding-right: 400px;
    float: left;
}

h8 {
    text-decoration: none;
    padding-left: 25px;
}

h9 {
    padding-left: 25px;
}

h10 {
    padding-left: 25px;
}

h11 {
    text-decoration: none;
    color: white;
}

h11 a:visited {
    color: white;
}


.newsletter {
    text-decoration: none;
    color: aqua;
    font-size: 18px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    background-color: #6e3dd9;
    padding: 15px 22px;
    text-align: center;
    vertical-align: middle;
}

.flexel {
    display: flex;
    justify-content: center;
    background-color: #4e2b99;
}

.extra-links {
    margin-top: -120px;
    margin-bottom: 30px;
    margin-right: -980px;
    flex-direction: column;
}

.extra-links p {
    display: inline-block;
    vertical-align: middle;
    padding: 5px 10px;
    text-decoration: none;
}

.extra-links p a {
    color: white;
    display: block;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}

.terms {
    margin-right: 20px;
}

.fda {
    border-style: solid;
    border-color: white;
    border-width: 2px;
}

/* .extra-links p:hover {
    background-color: #6e3dd9; 
} */

.flexfoot {
    display: flex;
    justify-content: center;
    background-color: #4e2b99;
}

.input-container {
    padding-left: 150px;
    padding-right: 150px;
    display: flex;
    clear: both;
    justify-content: center;
    padding-left: 145px;
    padding-right: 145px;
    padding-bottom: 100px;
}

.input-container>div {
    padding-left: 159px;
    padding-right: 159px;
}

.flavors input {
    justify-content: center;
    align-content: center;
    text-align: center;
    width: 30px;
    border-radius: 0px;
    border-color: black;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
}

button {
    outline: none;
    border: none;
    background-color: black;
    color: white
        
}

button:hover {
    background-color: #4e2b99;
}

.extrainfo {
    color: black;
    font-size: 18px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    text-align: center;
}

.only6 {
    color: #6e3dd9;
    font-size: 23px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    padding-top: 20px;
    text-align: center;
    text-decoration: underline;
}

.gallon {
    color: black;
    font-size: 18px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
}

.fax {
    display: flex;
    color: #6e3dd9;
    font-size: 15px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    text-align: center;
    margin-top: 10px;
    justify-content: center;
}

.fax>div {
    
    padding: 5px 15px;
    text-align: center;
}

.cart {
    display: flex;
    color: white;
    font-size: 15px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
    padding-bottom: 100px;
    justify-content: center;
}

.cart a {
    color: white;
    background-color: #6e3dd9;
    padding: 5px 15px;
    text-align: center;
}

.cart a:hover {
    background-color: #4e2b99;
}

.grape-container {
    display: flex;
    clear: both;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
    vertical-align: middle;
}

.grapeinfo {
    font-family: 'Work Sans', sans-serif;
    padding-left: 100px;
    padding-top: 100px;
    text-align: center;
    vertical-align: middle;
}

h14 {
    font-size: 28px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    color: #6e3dd9;
}

.moreinfo {
    color: black;
    font-size: 18px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    text-align: center;
}

.cart1 {
    display: flex;
    color: white;
    font-size: 15px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    justify-content: center;
    padding-top: 50px;
}

.cart1 a {
    color: white;
    background-color: #6e3dd9;
    padding: 5px 15px;
    text-align: center;
}

.cart1 a:hover {
    background-color: #4e2b99;
}

/*
.input-group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.3), 4px 7px 15px rgba(0, 0, 0, 0.2),
    9px 15px 25px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  max-width: 160px;
}

button,
input {
  outline: none;
  border: none;
  padding: 16px;
  font-size: 18px;
}

input {
  width: 100%;
  text-align: center;
}

button {
  cursor: pointer;
}
button:nth-last-child(1) {
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}
button:nth-child(1) {
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}

button:hover {
  background-color: #e6e6e6;
}
button:nth-last-child(1):active {
  box-shadow: inset -4px 5px 10px rgba(0, 0, 0, 0.5);
}
button:nth-child(1):active {
  box-shadow: inset 4px 5px 10px rgba(0, 0, 0, 0.5);
}

*/

.footer {
    color: black;
    text-align: center;
    font-size: 11px;
    font-weight: 500;
    font-family: 'Work Sans', sans-serif;
    margin-top: -50px;
    margin-right: -1370px;
}
